.fondo{	
	background-image: url("../img/food-menu-min.jpg");	
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: center;
}
.fondogradiente{
	background: linear-gradient(to bottom right, rgba(192, 107, 62, 0.7), rgba(33, 139, 185, 0.7)); 
}
div.error{
    position: relative;
    top: -1rem;
    left: 0rem;
    font-size: 0.8rem;
    color:#FF4081;
}

.contenido{
	min-height: 760px;
}
.cont{
	padding: 0 20px 1px 20px;
	background-color: white;
	border-radius: 5px;
	margin-top: 10px;
}
.cuadrito1{
	padding-top: 200px;
	background-color: rgba(255,255,255,0.5);
	width: 45% !important;
	height: 330px;
	margin: 10px 10px 10px 10px;
	margin-left: 25px;
	margin-top: 200px;
	border-radius: 5%;
}
.cuadrito2{
	padding-top: 200px;
	background-color: rgba(255,255,255,0.5);
	width: 48% !important;
	height: 330px;
	margin: 10px 10px 10px 10px;
	margin-top: 200px;
	border-radius: 5%;
}
.titulod1{
	margin-top: 5px;
	margin-left: 50px;
}
.titulod2{
	margin-left: 100px;
}
.titulod3{
	margin-left: 20px;
	margin-top: 100px;
}
.t3{
	font-size: 1.5em;
	color: black;
}
.t1{
	font-size: 1.5em;
	color: black;
}
.imagenLogo{
	width: 40%;
}
.Pa{
	margin-left: 60px;
	font-size: 1.5em;
	color: black;
}
.Botones{
	margin-left: 65px;
	margin-left: 60px;
}

.BotonVerRestaurantes{
	margin-top: 30px;
	margin-left: 100px;
}

.mini{
	height: 40px;
	width: 40px;
	margin-top: 10px;
}