.fondo{	
	background-image: url("../img/food-menu-min.jpg");	
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: center;
}
.fondogradiente{
	background: linear-gradient(to bottom right, rgba(192, 107, 62, 0.7), rgba(33, 139, 185, 0.7)); 
}
div.error{
    position: relative;
    top: -1rem;
    left: 0rem;
    font-size: 0.8rem;
    color:#FF4081;
}

.contenido{
	min-height: 760px;
}
.cont{
	padding: 0 20px 1px 20px;
	border-radius: 5px;
	margin-top: 10px;
}
.cuadro{
	background-color: rgba(255,255,255,0.5);
	margin-top: 50px;
	border-top-left-radius: 5%;
	border-bottom-left-radius: 5%;
	height: 230px;
	border-right: 2px solid yellow;	
}
.cuadro2{
	background-color: rgba(255,255,255,0.5);
	margin-top: 50px;
	border-top-right-radius: 5%;
	border-bottom-right-radius: 5%;
	height: 230px;
}
.vista{
	background-color: rgba(255,255,255,0.5);
	border-radius: 5px;
	padding-top: 5px;
}
.platosvista0{
	background-color: rgba(255,255,255,0.5);
	border-radius: 5px;
	border: 2px solid yellow;
	padding-top: 5px;
}
.platosvista1{
	background-color: rgba(255,255,255,0.5);
	border-radius: 5px;
	border-right: 2px solid yellow;
	border-top: 2px solid yellow;
	border-bottom: 2px solid yellow;
	padding-top: 5px;
}
.titulod2{
	margin-left: 100px;
}
.titulod3{
	margin-left: 20px;
	margin-top: 100px;
}
.t3{
	font-size: 1.5em;
	color: black;
}
.t1{
	font-size: 1.5em;
	color: black;
}
.imagenLogo{
	width: 40%;
}
.Pa{
	margin-left: 60px;
	font-size: 1.5em;
	color: black;
}
.Botones{
	margin-left: 65px;
	margin-left: 60px;
}
.BotonVerRestaurantes{
	margin-top: 30px;
	margin-left: 100px;
}
.mini{
	height: 40px;
	width: 40px;
	margin-top: 10px;
}
.busca{
	width: 100%;
	margin-left: 0 !important;
}
.buscar-cat{
	background-color: rgba(255,255,255);
}
.boton-busca{
	margin-top: 21px;
}
.logo{
	height: 55px;
	width: 55px;
	position: relative;
	margin-top: 5px;
	margin-left: 20px;
}
.img_plato{
	width: 275px;
	height: 183px;
}
.validate{
	border-bottom: 1px solid black !important;
}
.black_border{	
	border-bottom: 1px solid black !important;
}
.input-field label{
	color: #000 !important;
}
.profilepic{
	width: 20%;
}
.btn{
	background-color: #FFD600 !important;
	color: #000 !important;
}
